.expenses-navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.icon {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.expense-verifyEmail {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.expenses-header {
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  color: white;
  padding-right: 20px;
}

.expenses-button {
  background-color: rgb(235, 34, 34);
  box-shadow: 1px 1px white;
  margin-left: auto;
}

.expenses-button:hover {
  background-color: red;
}

.expense-verifyEmail a {
  color: white;
  text-decoration: none;
}

@media screen and(max-width: 1200px) {
  .expenses-navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }

  .expenses-header {
    font-size: large;
  }
}
